@import "tailwindcss";

@theme {
  --color-dark: #101828;
  --color-dark-secondary: #475467;
  --color-dark-tertiary: #6C717B;
  --color-red-primary: #E44848;
  --color-red-secondary: #D84343;
  --color-yellow: #FFC531;
  --color-gray-light: #DADDE1;
  --color-gray-lightest: #F2F4F7;
  --color-almost-white: #F7F7F7;
  --color-white: #FFFFFF;
}

* {
  transition: all 0.1s;
}

.container {
  @apply px-16 max-w-[1440px] mx-auto;
}